* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--primary-color);
    overflow-x: hidden;
}

.as-body-inner {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between
}

.as-page-content {
    margin-top: 100px;
}

.as-container {
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;

    @media only screen and (max-width: $media-xl) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media only screen and (max-width: $media-sm) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

h1,
.as-h1 {
    font-size: 2.88rem;
}

h2,
.as-h2 {
    font-size: 2.33rem;
}

h3,
.as-h3 {
    font-size: 1.8rem;
}

h4,
.as-h4 {
    font-size: 1.35rem;
}

h5,
.as-h5 {
    font-size: 1rem;
}

h6,
.as-h6 {
    font-size: 1rem;
}