:root {
    // Color
    --as-white-color: #FFF;
    --as-black-color: #000;
    --as-primary-color: #222;
    --as-gray-color: #777;
    --as-lightgray-color: #EEE;
    --as-gold-color: #D4B254;
    --as-sucess-color: #86CB19;

    // Other
    --as-transition: all .25s ease-in;
}