.as-block-reviews {
  padding: 116px 0;
  background: var(--as-lightgray-color);
}
.as-block-reviews .slider {
  padding: 0 109px;
}
.as-block-reviews .slider__item {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.as-block-reviews .slider__item-tagline {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--as-gold-color);
}
.as-block-reviews .slider__item-title {
  margin-bottom: 24px;
  font-family: "Helvetica", sans-serif;
}
.as-block-reviews .slider__item-content {
  margin-bottom: 11px;
  font-family: "Helvetica", sans-serif;
  color: var(--as-gray-color);
}
.as-block-reviews .slider__item-name {
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 1.9;
  color: var(--as-gray-color);
}
.as-block-reviews .swiper-button-next,
.as-block-reviews .swiper-button-prev {
  color: var(--as-gold-color);
}
@media only screen and (max-width: 1280px) {
  .as-block-reviews .slider {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .as-block-reviews .swiper-button-next,
  .as-block-reviews .swiper-button-prev {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .as-block-reviews .as-button {
    width: 100%;
    padding: 20px;
  }
}
